#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.controlUI {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-bottom: 22px;
  text-align: center;
  margin-top: 10px;
}

.controlText {
  color: rgb(25, 25, 25);
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 38px;
  padding-left: 5px;
  padding-right: 5px;
}

.selectionUI {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-align: center;
  margin-left: 11px;
  max-height: 45vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* IE and Edge. */
  scrollbar-width: none;
  padding-right:5px;
}

.selectionText {
  color: rgb(25, 25, 25);
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 38px;
  padding-left: 5px;
  padding-right: 5px;
  -ms-overflow-style: none;
  height: min-height;
  margin-bottom: 5px;
  margin-top: 10px;
}

.wrapper {
  position: relative;
  height: 100% !important;
  width: 100% !important;
}

.widget {
  display: block;
  position: absolute;
}

.selectionText::-webkit-scrollbar {
  display: none;
}

.selectionUI::-webkit-scrollbar {
  display: none;
}