* {
  margin: 0;
  padding: 0;
}

/*
Purpose of this line it allows the background to extend throughout the whole page
When only applied this padding rule to the body there was still an issue with
the margin around the top by default.
*/

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type=text] {
  width: auto;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 5px;

  /* Change the cursor color inside the text box when typing. */
  caret-color: navy;
}

#content {
  width: 100%;
  height: 100vh;
  background-image: url("images/StellarPoint.png");
  background-size: cover;
  background-position: right 0;
}

h1 {
  color: white;
  font-size: 50px;
  text-align: center;

  /* Setup gradient for header. */
  background-image: linear-gradient(#3f8b99, white, #3f8b99);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  /* Not supported on all sites, stylelint doesn't recognize */
  text-fill-color: transparent; /* stylelint-disable-line */
}

/* On overflow make the table scrollable. */

#scroll-body {
  -ms-overflow-style: none;

  /* IE and Edge. */
  scrollbar-width: none;

  /* Firefox. */
  overflow: auto;
  height: 400px;
  margin-bottom: 5px;
  margin-top: 10px;
}

#pose-data {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

th {
  position: sticky;

  /* Set this value as -1px to account for the border of 1px around the elements.
  Without this attribute some text shows upon scroll. */
  top: -1px;
}

#pose-data td,
#pose-data th {
  border: 1px solid #ddd;
  padding: 8px;
}

.visible.even {
  background-color: #f2f2f2 !important;
}

#pose-data tr {
  background-color: lightblue;
}

#pose-data th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: lightslategray;
  color: white;
}

#myUL {
  padding-top: 10px;
}

li {
  text-align: center;
}

.file-upload,
.submit-file {
  background-color: lightslategray;
  border: none;
  color: white;
  padding: 13px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 20px;
}

input[type="file"],
input[type="submit"] {
  display: none;
}

.buttons {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 5px;
}

/* To hide the scrollbar in Chrome. */

#scroll-body::-webkit-scrollbar {
  display: none;
}

.visible {
  display: "";
}

.hidden {
  display: none;
}

table {
  table-layout: fixed;
}

body {
  margin: 0;
}

canvas {
  display: block;
}

.runID-name {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  display: inline-block;
  padding: 2px;
}

#outer {
  width: 100%;
  text-align: center;
}

.buttons1,
.buttons2 {
  display: inline-block;
}

#Acknowledge {
  position: fixed;
  bottom: 5px;
  right: 5px; 
  font-size: 12px;
  color: white;
}